[MASTER]
ignore =
  PbWA.py,
  protobuf,


[MESSAGES CONTROL]
disable =
  inconsistent-return-statements,
  invalid-name,
  line-too-long,
  missing-docstring,
  no-else-return,
  no-member,
  too-many-branches,
  too-many-statements,
  useless-object-inheritance,


[FORMAT]
indent-string = '  '
indent-after-paren = 2
